@tailwind base;
@tailwind components;
@tailwind utilities;
body{
background-color: #111928;
color: white;
}
.center{
  transform:translate(-50%,-50%)
}
.center_x{
  transform:translateX(-50%)
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 1000; 
}
.img_liner{
  background-image: linear-gradient(392deg, rgb(0,0,0),rgb(17,25,40));
}
.img_liner_2{
  background: rgb(23,33,51);
  background: linear-gradient(52deg, rgba(23,33,51,1) 0%, rgba(17,25,40,1) 30%, rgba(0,0,0,1) 95%);
}
.img-rolse{
  background: rgb(19,19,19);
  background: linear-gradient(90deg, rgba(19,19,19,1) 9%, rgba(32,35,37,1) 41%, rgba(45,51,54,1) 74%);
}
.MuiInputBase-input{
  background-color: #374151 !important; 
  color:white important;
  border-radius:6px;
  text-align: end;
}


.page {
  background-color: #111928;
  height: calc(100vh - 76px);
  position: relative;
  width: 100%;
}

.main-conten {
  background-color: red;

}

#reader {
  width: 90%;
  /* height: 300px; */
  margin:0 auto;
  border: none !important;
}
@media (max-width: 767px) {
  #reader canvas.html5-qrcode-scanner__qr-box {
    /* width: 250px !important;
    height: 250px !important; */
    width: 80%;
    height: 80%;
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  #reader canvas.html5-qrcode-scanner__qr-box {
    /* width: 350px !important;
    height: 350px !important; */
    width: 60%;
    height: 60%;
  }
}

@media (min-width: 1024px) {
  #reader canvas.html5-qrcode-scanner__qr-box {
    width: 40%;
    height: 40%;
  }
}
#reader__scan_region img{
width: 120px;
margin: 0 auto 25px;
}
#reader__dashboard_section_csr span{
color: white;

}
#reader video{
height: 450px;
}

#html5-qrcode-select-camera{
color: black;
background-color: #007bff;
display: block;
margin: 20px auto 0;
}
#html5-qrcode-button-camera-start,
#html5-qrcode-button-camera-stop,
#html5-qrcode-button-camera-permission,
#html5-qrcode-button-file-selection{
background-color: #007bff;
color: white;
border: none;
border-radius: 5px;
padding: 10px;
margin-top: 10px;
cursor: pointer;
margin: 20px 0;
}
#html5-qrcode-anchor-scan-type-change{
color: white !important;
text-decoration: none !important;
display: none !important  ;

}